.App {
  text-align: center;  
  /* background-image: url('../images/golden-gate.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: left;
  background-size:contain;  */
}
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  }

label {
  font-size: 1rem;
  text-align: left;  
  font-weight: bold;
}

input.form-control, input.form-control:focus {
  background: #F0F0FF;
}

.error {
  position: absolute;
  color: red;
  font-size: .6rem;
}

.card-img-top {
    width: 100%;
    height: 12vw;
    object-fit: cover;
}

.link {
  color: black;
}
.link:hover {
   text-decoration:none;
}

.badge {
  height: 1rem;
}

.liked {
  color: #E85767;
}